@model IEnumerable<ITSupportForum.Models.Post>
@using System.Security.Claims

@{
    ViewData["Title"] = "Posts";
}

<h1>Posts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <form asp-action="Index" method="get">

        <div class="row mb-3">

            <div class="col-4">

                <input type="text"
                       name="keyword"
                       class="form-control"
                       placeholder="Search post..." />

            </div>

            <div class="col-2">

                <button type="submit"
                        class="btn btn-primary">

                    Search

                </button>

            </div>

        </div>

    </form>
    <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Created At</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Content</td>
                <td>@item.CreatedAt</td>
                <td>
                    <img src="/uploads/@item.ImageUrl"
                         width="120" />
                </td>
                <td>
                    @if (item.UserId == User.FindFirstValue(System.Security.Claims.ClaimTypes.NameIdentifier)
    || User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit"
                           asp-route-id="@item.Id">

                            Edit

                        </a>
                    }
                    |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>